<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="description" content="Twitter,Bot,botornot, bot or not, tweets, tags, userid, Twitter Bots">     

	<title>TweeBotD</title>
    <link rel="shortcut icon" href="icon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div class="container-fluid" id="header">
		<div class="jumbotron row">
		  <div class="col-6">
			<h1 class="welcome-header">Welcome to TweeBotD</h1>
			<p class=" lead text-justify">Detect Bots on your Twitter Account</p>

			<div class="btn-group">
		      <a class='btn' style="background-color: #00aced"><i class="fa fa-twitter" style="width:2px; height:20px;color:#ffffff"></i></a>
		      <a class='btn' id='signIn' href='https://Tweebotd.herokuapp.com/auth/twitter' style="width:190%;color:#ffffff"> <%= (!!userName)?userName: 'Sign In with Twitter' %></a>
	        </div>

	       </div>    
	       <div class="col-6">
			 <img src="icon.png" alt="Bot Image">
		   </div>
		</div><!--jumbotron-->
	</div><!--container-fluid-->
    
    <h2 class="preference-search"><strong>Bot Detection Preference</strong></h2>
    <br>
	<section class="row">

      <!--Detection of Bots Using User_Id -->
	  <div class="col-12 col-md-6 tweeter-user-id">

		<form class="form-inline" method="post" action="https://tweebotd.herokuapp.com/extractUserData/">
         <input type="text" class="form-control" name="UserId" placeholder="UserId">
         <button type="submit" class="btn btn-info"><i class="fa fa-search" aris-hidden="true" style="padding-right: 9%;"></i>Search</button>
        </form>

	  </div><br>
      
      <!--Detection of Bots Using Tags -->
	  <div class="col-12 col-md-6 tweeter-tags">
	    <form class="form-inline form-tags" method="post">
		  <input type="text" class="form-control" name="tags" placeholder="Tags">
		  <button type="submit" class="btn btn-info"><i class="fa fa-search" aris-hidden="true" style="padding-right: 9%;"></i>Search</button>
		</form>
	  </div>

	</section>  	
    <br><br><br>

    <!--Display User Tweets-->
	<div class="row hidden" id="tweetDisplay">
	  
	</div><!----End of Row-->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript">
   
  	//Tweet Display
  	$(document).ready(function(){
  		$.ajax({
  			url: "/api/fetchTweets",
  			dataType: "json",
  			success: function(data){
  				console.log(data);
  				if (data) {
                  
                  $('#tweetDisplay').removeClass("hidden");     
            
                 function showTweets(tweets){
                   document.querySelector("#tweetDisplay").innerHTML += tweets;
                 }
                  data.map(getTweetDetails).forEach(showTweets);
                 function getTweetDetails(data)
                 {  
                  return `<div class="col-md-4 col-12" >
                   <div class="card w-75 border-light">
                      <div class="card-header alert alert-success">
                      <img src=${data.user.profile_image_url}></img>
      	                <h5 class="alert-link">${data.user.name}</h5>
                        <h6 class="alert-link screen_name">@${data.user.screen_name}</h6>
                        <p id="verify">Verification- <span class="badge badge-warning">${data.user.verified}</span></p>	
                       </div>
           
	    	        <div class="card-body">
	    	         <p class="card-text">${data.text}</p>
	    	         <p class="card-text">TweetDevice - ${data.source}</p>
	    	        </div> 

	    	        <!-- Card footer -->
                    <div class="card-footer bg-transparent border-dark">
                      <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>${data.created_at}</li>
                      </ul>
                    </div>
	               </div>
                  </div>`
                 }
                //$('.card-header').append(data[0].created_at);
  				}//endIf
  			}//endSuccess
  		});
  		
  	});
  </script>

</body>
</html>