<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="description" content="Detect Bots in your Twitter Timeline">
	<meta name="theme-color" content="#1da1f2"/>

	<title>TweeBotD</title>
	<link rel="shortcut icon" href="icon.ico" />
	<link rel="manifest" href="manifest.json">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/material.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
	<div class="container-fluid" id="header">
		<section class="jumbotron row">
			<div class="col-xs-12 col-sm-5">
				<img src="icon.svg" alt="TweeBotD logo" id="bot-pic">
			</div>
			<div class="col-xs-12 col-sm-7">
				<h1 class="welcome-header">TweeBotD</h1>
				<h5 class="subtitle">Detect Bots in your Twitter Timeline</h5>

				<div class="btn-group">
					<a class='btn' id='signIn' href='/auth/twitter'>
						<b>
							<%= (!!userName)?userName: 'Sign In with Twitter' %>
						</b>
					</a>
					<a class='btn hidden' id='logOut' href='/logout'>
						<b>Logout</b>
					</a>
				</div>
			</div>
		</section>
		<!--jumbotron-->
	</div>
	<!--container-fluid-->

	<div id="backcolor">

		<h3 class="preference-search">Check if a Twitter account is a bot or not</h3>
		<img src="think.svg" id="think" class="img-fluid">

		<div class="user-search-container">
			<div class="user-search-input">
				<!--Detection of Bots Using Screen Name -->
				<input type="text" name="userName" placeholder="@ScreenName" id="userid-search">
				<button class="btn btn-info check-button" id="searchB">
					<i class="fa fa-search" id="searchBi"></i>Check</button>
				<div class="loader hidden">
					<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
				</div>
			</div>
		</div>
		<div id="resultId"></div>
	</div>
	<!--Display User Tweets-->
	<div class="row hidden" id="tweetDisplay">
	</div>
	<!----End of Row-->

	<footer>
		<a href="https://github.com/twitterBotDetector/application-server">
			<img src="github-logo-light.png" id="github-logo" />
		</a>
		View this project on GitHub
	</footer>

	<script src="js/material.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="takeTweet.js"></script>
	<script src="userSearch.js"></script>
	<script src="js/app.js"></script>

</body>

</html>