link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rokkitt:300")

*{
	box-sizing: border-box;
}
/*JUMBOTRON */
.jumbotron{
	clear: both;
	padding-bottom: 0px;
	padding-top: 32px;
	background: #34e89e; /* fallback for old browsers*/
	background: -webkit-linear-gradient(to right, #34e89e, #0f3443);/* Chrome 10-25 */
	background: linear-gradient(to right, #34e89e, #0f3443);/*IE10+, cHROME26+, Firefox16+*/
}
.welcome-header{
    color:#0f3443;
    text-shadow: 4px 4px 5px hsla(120,100%,50%,0.3);
    font-family:'Rokkitt', serif;
}
img{
	max-width: 40%;
	height: auto;
	float: right;
}
.jumbotron .btn-group {
	padding-bottom: 1.5em;
}
#twitb{ background-color: #00aced; }
#twitbi{ width:2px; height:20px; color:#ffffff; }
#signIn{ background-color:#00aced; width:190%;color:#ffffff; }

/*Detect Preference*/
.preference-search{
	font-family:'Rokkitt', serif;
	text-align: center;
}
.form-inline{
   display: inline;
}
#search-bot{
	margin: 0px;
}
#userid-search{	
	padding-right: 50px;
}
#searchB{margin-left: 3px;}
#searchBi{padding-right: 9%;}
.btn-info{
	padding-right: 1.2em;
}

.form-control{
	padding-right: 8em;
	margin-right: .1em;
}

/**Tweet Display **/
#tweetDisplay{
margin: 0px;
background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#tweetDisplay > .col-12, #tweetDisplay > .col-md-4 {
	padding: 0px;
	margin-top: 35px;
}

.hidden{ display: none; }

hr{ margin: 0px; }

.card{ border: 0px; margin-left: 10%; }
.card-body{ padding-top: 10px; padding-bottom: 10px;}
#verify{ display: inline; float: right;}

/**@media (max-width: 1200px) {
  #tweetDisplay {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #tweetDisplay {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #tweetDisplay {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #tweetDisplay {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}**/