@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

*{
	box-sizing: border-box;
}

#backcolor{
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: rgb(213,51,105);
  background: linear-gradient(330deg, rgba(213,51,105,1) 0%, rgba(255,188,47,1) 100%);
  padding-bottom: 25px;
  padding-top: 25px;
}


/*JUMBOTRON */
.jumbotron{
	clear: both;
	padding-top: 32px;
  background: #1da1f2; /* For browsers that do not support gradients */
  background: rgb(29,161,242);
  background: linear-gradient(155deg, rgba(29,161,242,1) 0%, rgba(144,0,128,1) 96%);
  margin-bottom: 0px;
}
.welcome-header{
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif
}

.subtitle{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif
}

@media only screen and (max-width: 600px){
#bot-pic{ max-width: 80%; height: 110px !important;
	        margin: 0 auto; }
}
@media only screen and (min-width: 600px){
#bot-pic{ max-width: 70%; height: auto !important;
          float: right; padding-top: 35px; }
}
@media only screen and (min-width: 768px){
#bot-pic{ max-width: 50%; height: auto !important;
          float: right; padding-top: 35px;}
}
@media only screen and (min-width: 992px){
#bot-pic{ max-width: 40%; height: auto !important;
          float: right; padding-top: 35px;}
}

.jumbotron .btn-group {
	padding-bottom: 1.5em;
}
#twitbi{ width:2px; height:20px; color:#ffffff; 
         padding-left: 9px; padding-right: 8px;}

#signIn:hover, #signIn:active, #signIn:focus{
  background-color:#ffffff;
  width:190%;
  color:#1DA1F2;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #ffffff;
}

#signIn{
  background-color:#ffffff00;
  width:190%;
  color:#ffffff;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #ffffff;
}

#logOut{
  margin-left: 15px; 
  background: #cb2d3e;
  width:190%;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #ffffff;
}
.disabled{
  pointer-events: none;
  cursor: default;
}

/*Search Twitter Handle*/
.preference-search{
	font-family:'Rokkitt', serif;
	text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#think{
      width: 5em; height: auto;
      display: block;
      margin: 0 auto; padding-bottom: 7px;
}

#searchBi{padding-right: 9%;}
.btn-info{
	padding-right: 1.2em;
}

.user-search-container{
  padding: 12px;
  width: 100%;
}

.user-search-input{
  display: table;
  margin: 0 auto;
}

#userid-search{
  padding:5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.result-bot{
  border-radius: 20px;
  background-color: red;
  color: white;
  padding: 10px;
}

.result-human{
  border-radius: 20px;
  background-color: green;
  color: white;
  padding: 10px;
}

input:focus{
  outline: none;
}

.check-button{
  color: #ffffff;
  background: #1da1f2;
  border:2px solid #1DA1F2; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.check-button:hover, .check-button:active{
  background: #1886ca;
  border:2px solid #1886ca;
}

.form-control{
	padding-right: 8em;
	margin-right: .1em;
}
.loader{
  padding-top: 12px;
  padding-left: 10px;
  text-align: center;
}

#resultId{
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
}

/**Tweet Display **/
#tweetDisplay{
margin: 0px;
/**background: #36D1DC;  /* fallback for old browsers */
/**background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
/**background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#tweetDisplay > .col-12, #tweetDisplay > .col-md-4 {
	padding: 0px;
	margin-top: 25px;
}
.hidden{ display: none; }

hr{ margin: 0px; }

.card{ border: 0px; margin-left: 5%; margin-right: 5% }
.card-header { 
   background: #11998e;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.card-body{ 
  padding-top: 10px; padding-bottom: 10px;
 /** background: #83a4d4;  /* fallback for old browsers */
 /**background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
 /**background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
.badge-warning, #name-person{ text-transform:capitalize;}
#verify{ display: inline; float: right;}
#classification{ font-family: 'IBM Plex Sans Condensed', sans-serif; }
 #profile-image{
  max-width: 40%;
  height: auto !important;
  float: right;
}

footer{
  width: 100%;
  height: 100px;
  background-color: #212121;
  color: white;
}

#github-logo{
  width: 5em; 
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

#view-on-github{
  text-align: center;
}
